:root {
  --basic-font:   Roboto, Arial, sans-serif;
  --body-width:  1200px;
  --conteiner-width:  1146px;
  --basic-black: #323232;
  --basic-bg-color: rgba(255, 255, 255, 0.2);
  --basic-dark: #aba9a7;
  --basic-neutral: #e5e5e5;
  --basic-extra-light: #f8f5f2;
  --basic-white: #ffffff;
  --special: #663d15;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
body {

}
.page-body {
  font-family:  var(--basic-font);
  font-weight: 700;
  /*background-color: #8996a6;*/
  margin:  0 auto;
  padding:  0px;
  height: 100%;
  /*width:  var(--body-width);*/
  background-repeat: no-repeat;
  background-position: 50% 0;
  transition: 500ms ease;
}

.page-bg-1 {
  background-color: #849d8f;
  background-image: url(../img/icecream-bg-1.png);
}
.page-bg-2 {
 background-color: #8996a6;
 background-image: url(../img/icecream-bg-2.png);
}
.page-bg-3 {
  background-color: #9d8b84;
  background-image: url(../img/icecream-bg-3.png);
}
a {
  text-decoration: none;
}
.main-content {
  position: relative;
}


.slider {

  max-height: 525px;
}




.slider-controls  {
  position: absolute;
  bottom: 67px;
  left:  27px;
  /*top: 0px;*/
  /*z-index:  15;*/

}
.slider-controls label {
  position: relative;
  font-size: 0;
  top:  50px;
  display: inline-block;
  width: 21px;
  height: 21px;
  border: 2px solid #fff;
  border-radius: 50%;
}

#slide-1:checked ~ .slider-controls label[for="slide-1"],
#slide-2:checked ~ .slider-controls label[for="slide-2"],
#slide-3:checked ~ .slider-controls label[for="slide-3"] {
  background-color: #fff;
}

/*.nav-menu,
.nav-menu * {
  outline:  2px solid green;
  outline-offset: -2px;
  }*/
  .nav-menu {
    /*max-width: var(--body-width);*/
    box-sizing: border-box;
    /*width: var(--body-width);*/
    padding:  0 27px;
    display: flex;
    justify-content: flex-start;
    align-items:  center;

    position: relative;
    margin-top:  6px;
  }


  .main-header {
    width: var(--body-width);
    margin:  0 auto;
    /*margin-top:  9px;*/
    /*padding: 0 30px;*/
  }


  .main-header-logo {
    margin-right:  24px;
    display: block;
    height: 64px;
  }
  .nav-menu-list,
  .nav-sub-menu {
    list-style: none;
    padding: 0;
    color:  #FFF;

  }
  .nav-menu-list{
    position: relative;
  }

  .1nav-sub-menu * {
    outline: 2px solid red;
    outline-offset: -2px;
  }
  .nav-sub-menu {
    position: absolute;
    top:  33px;
    background-color: #fff;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    color: var(--basic-dark);
    /*padding:  14px 20px;*/
    width: 143px;
    background: #FFFFFF;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    display: none;
  }
  .nav-sub-menu-link {
    font-size: 14px;
    line-height: 16px;
    color: var(--basic-black);
    font-weight:  400;
    padding:  15px;
    display: block;
   /*   width: 100%;
   height: 100%;*/



 }
 .nav-sub-menu-new {
  font-weight:  700;
  position:  relative;

}
.nav-sub-menu-item:nth-child(1):after {
  content: "";
  display: block;
  position: absolute;
  left: 6px;
  top: 44px;
  width: 128px;
  height: 2px;
  background-color: rgba(50, 50, 50, 0.2);

}

.nav-menu-item:hover .nav-sub-menu {
  display: block;
}



.nav-sub-menu-item {
  font-size: 14px;
  line-height: 18px;

}

.nav-sub-menu-item:hover {
  background-color: #FBDED7;
}
.nav-sub-menu-item:active {
  background-color: #F6B5A5;
}



.nav-menu-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  /*width: 100%;*/
  height: 100%;
}



.nav-menu-item {
  margin-right: 32px;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

}

.nav-menu-link {
 position: relative;
}


.nav-menu-item:after {
  content: "";
  background-color: rgba(255, 255, 255, 0.2);
  height: 1px;
  width: calc(100% - 26px);
  position: absolute;
  bottom: 0;
  left: 14px;
}
.nav-menu-link {
  color:  inherit;
  /*border-bottom:  1px solid rgba(0,0,0,0.2);*/
  font-family: inherit;
  font-weight:  bold;
  font-size: 16px;
  line-height: 18px;
  padding-top: 18px;
  padding-bottom:  10px;
  padding:  9px 13px 11px 13px;
}
.nav-menu-link:hover {
  background-color: #FFFFFF;
  border-radius: 26px;
  font-family: var(--basic-font);
  font-style: normal;
  font-weight: bold;
  color: var(--basic-black);
  /*border-bottom:  2px solid black;*/

}
.link-for-search {
  /*display: block;*/

  /*background-color: rgba(255, 255, 255, 0.2);
  background-image: url('../img/search-icon.svg');
  background-repeat:  no-repeat;
  background-position: 50% 50%;*/
  box-sizing: border-box;


}
.link-for-search {
  background-color: var(--basic-bg-color);
  transition: 300ms ease;
  border-radius: 50%;
  display: block;
  width: 32px;
  height: 32px;
  padding:  8px 8px 16px;
}
.link-for-search svg {

}
.link-for-search path {
  fill: #fff;
}

.link-for-search:hover path {
 transition: 300ms ease;
 fill: var(--basic-black);


}

.nav-menu-item-search {
  position: relative;

}

.input-search {
  display: block;
  font-size: 14px;
  line-height: 16px;
  padding:  15px;
  width: 100%;
  border: 1px solid #d3d3d2;
  box-sizing: border-box;
  border-radius: 4px;
}
.input-search:active {
  border: 1px solid #d3d3d2;
  box-sizing: border-box;
  border-radius: 4px;
}

.input-search-wrapper {
  position: absolute;
  display: none;
  top:  33px;
  right: 0;
  background: #F8F7F4;
  width: 321px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  padding:  20px 15px;
}


.nav-menu-item-search::after,
.nav-menu-search::after {
  display: none;



}
.nav-menu-item-search:hover .input-search-wrapper {
  display: block;
}



.nav-menu-search {
  background-color:  var(--basic-bg-color);
  border-radius: 20px;
  position: relative;
  width: 92px;

}
.nav-menu-last-icons {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 8px 16px 8px 40px;
  position: relative;
  color: #fff;
  background-color: rgba(255,255,255,.2);
  border-radius: 20px;
}

.nav-menu-search svg{
  /*background-color: var(--basic-bg-color);*/
  /*border-radius: 20px;*/
  position: absolute;
  left: 12px;
  top: 6px;
  /*margin-right6px;*/


}

.nav-menu-search path {
  fill:  #fff;

}
.nav-menu-search:hover path {
  fill:  var(--basic-black);
}


.login-form {
  position: absolute;
  display: none;
  right:  0;
  z-index: 15;
  padding: 20px 19px;
  background: #F8F7F4;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  width: 277px;
  /*height: 214px;*/
 /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;*/
}
.login-form-email,
.login-form-password {
  padding: 15px;
  background: #FFFFFF;
  border: 2px solid #D3D3D2;
  outline: none;


  width: 100%;
  /*border: 2px solid rgba(178, 178, 178, 0.52);*/
  box-sizing: border-box;
  border-radius: 4px;
}
.login-form-password  {
  margin-top:  20px;
}

.login-form-email:hover,
.login-form-password:hover {
border: 2px solid rgba(178, 178, 178, 0.52);
}
.login-form-email:focus,
.login-form-email:active,
.login-form-password:focus,
.login-form-email:active {
border: 2px solid rgba(46, 136, 228, 0.52);
}


.login-form-btn {
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  color: #FFFFFF;
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 1px 2px rgba(172, 16, 0, 0.25);
  border-radius: 26px;
  padding:  15px 25px;
  border: 0;
}


.login-form-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
  align-items: center;

}
.login-form-btn {
 margin-right: 20px;
}
.login-form-link {
  position: relative;
  color: var(--basic-black);
  /*text-shadow: 1px 1px 1px black;*/
  font-size: 13px;
  line-height: 15px;
  border-bottom:1px solid rgba(50, 50, 50, 0.3);;
  /*padding-bottom: 2px;*/
  /*text-decoration: underline;
  text-decoration-color:rgba(50, 50, 50, 0.3);*/
}
.login-form-link:after {
/*content: "";
display: block;
height: 1px;
width: 100%;
background-color: rgba(50, 50, 50, 0.3);*/
}

.login-form-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 120px;
  margin: 0;
  padding: 0;
}

.nav-menu-login-form:hover .login-form {
display: block;
}
.nav-menu-work-time {
  position: absolute;
  right: 0;
  top: 78px;
  font-size: 14px;
  line-height: 16px;
  color:  #fff;
  text-align:  right;
}
.nav-menu-work-time-tel {
  font-size: 22px;
  line-height: 24px;
  color:  #fff;
  /*text-shadow: 1px 1px 1px black;*/

}
.nav-menu-work-time-tel: hover{
  cursor: default;
}

.nav-menu-item:nth-child(3) {
  margin-right: 267px;
}




.slider-1,
.slider-2,
.slider-3 {
  display: inline-block;
  width: 21px;
  box-sizing: border-box;
  height: 21px;
  margin-right: 8px;
  vertical-align: top;
  font-size: 0;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}
.slider-3 {
  margin-right: 0;
}
.slider-controls label:checked {
  background-color: #fff;
}

.slider-controls label:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.main-header {
  width: var(--body-width);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


/*
.slider_controls label:hover,
.slider_controls label:focus {
  background-color: rgba(255, 255, 255, 0.4);
}
.slider_controls label:active {
  background-color: rgba(255, 255, 255, 1);
}

#slide-1:checked ~ .page-body #slide-1,
#slide-2:checked ~ .page-body #slide-2,
#slide-3:checked ~ .page-body #slide-3 {
  display: block;
  }*/
  .page-body {
    /*background-image: url(../img/icecream-bg-1.png);*/
  }
/*
#slide-1:checked ~ .page-body {
  background-color: #849d8f;
  background-image: url(../img/icecream-bg-1.png);
}
#slide-2:checked ~ .page-body {
  background-color: #8996a6;
  background-image: url(../img/icecream-bg-2.png);
}
#slide-3:checked ~ .page-body {
  background-color: #9d8b84;
  background-image: url(../img/icecream-bg-3.png);
}
*/
/* Фон с пломбирами */

.slider {
  /*background-color: #849d8f;*/
  /*background-image: url(../img/icecream-bg-1.png);*/

  margin:  0 auto;
/*  outline: 2px solid black;
outline-offset: -2px;*/
height:  800px;
position: relative;
}
.slider-list {
  list-style: none;
  padding: 0;
  font-size: 60px;
  color:  #fff;
  height: 100%;
  /*height:  461px;*/
}

.slider-item {
  padding: 0;
  text-align:  center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content:  flex-end;
  align-items: center;
}

.slider-item-title {
  font-size: 60px;
  line-height: 60px;
  text-align:  center;
  bottom:  0;
  width: 672px;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;

}
.slider-item-link {
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
  /*width: 261px;*/
  font-family: var(--basic-font);
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  padding:  9px 23px;
  margin-bottom:  50px;
}
.slider-item-link:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px #AC1000;


}

.slider-item-link:active{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}



/**/
.promotions {
 padding: 0 27px;
 margin: 0 auto;
 width: var(--conteiner-width);
 display: flex;
 justify-content: space-between;

}
.promotions-list {
  display: flex;
  justify-content: space-between;
  /*margin: 120px;*/
  padding: 0;
  margin: 0;
  list-style:  none;
  width: 100%;

/*    display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;*/

}
.promotions-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 560px;
  /*width: 48.866%;*/
  /*width: 48.989%;*/
  min-height: 230px;
  padding: 16px 20px 25px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #fff;
  background-position: center center;
  background-size: 100%;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 0;

}

.promotions-title {
  margin: 16px 0 0 16px;
  font-size: 35px;
  line-height: 41px;
  font-weight:  bold;
  display: block;

}

.promotions-info {
  margin: 16px 0 0 16px;
}
.promotions-link {
  font-family: var(--basic-font);
  font-style: normal;
  font-weight: bold;
  padding:  15px 22px;
  border-radius: 70px;
  border:  none;
  color: #fff;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);

  font-size: 18px;
  line-height: 24px;
  margin: 42px 22px 22px 0;

  align-self: flex-end;
}
.login-form-btn:hover,
.item-show:hover,
.location-link:hover,
.blog-form-btn:hover,
.promotions-link:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px #AC1000;


}
.login-form-btn:active,
.item-show:active,
.location-link:active,
.blog-form-btn:active,
.promotions-link:active{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}


.promotions-item-first {
  background-color: red;
  background-image: url(../img/bonuses-bg-1.jpg);

}
.promotions-item-second {
  background-color: red;
  background-image: url(../img/bonuses-bg-2.jpg);
}

.catalog,
.catalog  * {
/*  outline:  2px solid green;
outline-offset: -2px;*/
}
.catalog {

  margin: 0 auto;
  padding: 0 27px;
  margin-top:  40px;
  margin-bottom:  40px;

  width: var(--conteiner-width);
}

.catalog-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 26px;
  list-style: none;
  box-sizing: padding-box;
}


.catalog-list-item {
 position: relative;
 width: 267px;
}

.item-image {
  position: relative;
  z-index: 5;
}

.item-price {
  position: absolute;
  bottom: 3.8%;
  /*z-index: 10;*/
  margin: 0;
  padding: 0;
  top:  216px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
  z-index:  5;
}
.item-weight {
  font-size: 30px;
  line-height: 35px;
}
.item-description {

 width: 267px;
 height: 44px;
 position: relative;
 z-index: 15;

 font-family: var(--basic-font);
 font-style: normal;
 font-weight: 500;
 font-size: 16px;
 line-height: 22px;


 text-align: center;

 color: #FFF;
 text-decoration: underline;
 text-decoration-color: rgba(255, 255, 255, 0.2);;

}

.item-show {
  position: absolute;
  display: none;
  z-index: 5;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  line-height: 24px;
  background: linear-gradient(180deg, #F26843 0%, #E84D37 100%);
  box-shadow: 0px 1px 2px #AC1000;
  border-radius: 50px;
  color: #FFFFFF;
  padding: 12px 16px;
  margin:0;
  text-alig:  center;
  box-sizing: border-box;
  /*width: calc(100% + 16px);*/
  width: 75%;

}

.item-hit::before {
  content: "";
  position: absolute;
  top:  0;
  left:  0;
  z-index: 15;
  content: "";
  width: 61px;
  height: 61px;
  background-color: #fff;
  background-image: url("../img/hit-icon.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 50%;

}

.catalog-list-item::after {
  content: "";
  display: none;
  background-color: #FFFFFF;
  opacity: 0.2;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 100%;
  position: absolute;
  padding:  6px 13px;
  width: calc(100% + 2px);
  height: calc(100% + 60px);
  top:-6px;
  left:  -13px;
  z-index: 0;
}


.catalog-list-item:hover:after,
.catalog-list-item:hover .item-show{
 display: block;
}

.about-us {
  /*position: relative;*/
  background-image: url("../img/features-bg.jpg");
  border-radius: 16px;
  width: var(--conteiner-width);
  margin:  0 auto;

  padding: 0;
  padding: 20px 24px 0 20px;
  background-color: #eee;
  box-sizing:  padding-box;
}
.about-us-title {
  width: 995px;
  padding: 0;
  margin: 0;
  font-family: var(--basic-font);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;



}

.about-us-list {
  display: flex;
  flex-wrap:  wrap;
  list-style:  none;
  padding: 0;
}
.about-us-item {
  width:550px;
  font-weight:  400;
  margin-left: 20px;
}

.about-us-item img {
 margin-right: 6px;
 transform: translateY(-20px);
}
.about-us-item img,
.about-us-item p {
  display: inline-block;
}
.about-us-item p  {
  width: 485px;
}

.blog {

  display: flex;
  justify-content: space-around;
  margin-top:  40px;
  margin:  0 auto;
  width: var(--conteiner-width);
}


.blog-theme-title {
  font-family: var(--basic-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* or 137% */
/*
display: flex;
align-items: center;*/
margin-top: 23px;
margin-left: 20px;
/*display: block;*/

}
.blog-theme,
.blog-form-wrapper {
  width: 560px;
  height: 220px;
}
.blog-theme {
  margin-right: 1%;
}
.blog-theme {
  position: relative;
  background-color: #FFF;
  width: 560px;
  height:220px ;
  border-radius: 16px;
  background-image: url("../img/blog-bg-new1.png");
}
.blog-content-link {
  display: block;
  color: #000;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
  margin-top: 15px;
  margin-left: 20px;
  width: 285px;
}

.blog-content img {
/*position: absolute;
left: 0;
top: 0;
z-index: ;*/
}



.blog-form-wrapper {
  display: flex;
  /*background-color: red;*/
  background-image: url("../img/blog-bg-new2.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 6px;
  box-sizing: border-box;
}


.blog-form  {
  position: relative;
  background-color: #FFF;
  width: 560px;
  height: 100%;
  /*height:220px ;*/
  border-radius: 16px;
  margin-bottom: 16px;
  box-sizing: border-box;
  /*border: 6px solid #40c4c8;*/
  padding:  20px;


}
.blog-form-info {
  color:  #5A5A5A;
  font-weight:  400;
  font-size: 16px;
  line-height: 22px;
  margin-top:  4px;
  margin-left:  20px;
}


.blog-form-email-sub {
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 6px;
  width: 368px;
  height: 44px;
}

.blog-form-email-sub::-webkit-input-placeholder {
  padding: 15px;
}

.blog-form-btn {
  font-family: var(--basic-font);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  padding:  14px 19px;
  border-radius: 70px;
  border:  none;
  color: #fff;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
}

.map {
  min-height:  360px;
  width: 100%;
}
.location {
  position: relative;
  width: 100%;
  padding: 0;
  margin-top:  40px;

}
.location-pin-on-map {
  position: absolute;
  left: 316px;
  top: 94px;
}
.location-map {
  width: 100%;
}
.location-address {
  border-radius: 16px;
  color: var(--basic-black);
  background-color: #fff;
  width: 303px;
  padding:  32px 25px;
  font-weight:  400;
  position: absolute;
  right: 27px;
  top: 62px;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
}

.location-address-info-attention {
  font-size: 18px;
  line-height: 24px;
}
.location-address-tel {
  margin-top: 30px;

}
.location-address-tel-number {
  color:  #000;
  font-weight:  700;
  margin-top: 11px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}


.location-link {
  display: block;
  margin-top:  31px;
  font-family: var(--basic-font);
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
  padding:  13px 28px;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;

  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;

}

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 19px;
  font-weight: 400;
  padding-top:  18px;
  margin:  0 auto;
  width: var(--conteiner-width);
}

.footer-social-list {
  list-style:  none;
  padding: 0;
}
.footer-social-list {
  font-size: 0;
}
.footer-social-list-item {
  display: inline-block;
  margin-right:  12px;
  /*background-color: rgba(255, 255, 255, 0.8);*/
  border: 2px solid rgba(255, 255, 255, 0.5)
}

.footer-social-list-item {

  border-radius: 50%;
  /*background: rgba(255, 255, 255, 0.8);*/
  border: 2px solid rgba(255, 255, 255, 0.5)

}

.footer-social-list-item:hover{
  /*background-color: #fff;*/
  fill: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.5);
}
.footer-social-list-item:active{
  border: 2px solid rgba(255, 255, 255, 0.7);
}
.footer-contacts {
  position: relative;
  width: 400px;
  color:  #fff;
}

.footer-contacts span {
  display: inline-block;
  flex-wrap:  wrap;
  width: 150px;
  margin-right:  32px;
  /*border:  2px solid  blue;*/
}
.footer-contacts span:nth-child(odd) {
  margin-right:  0px;
}

.footer-contacts span:nth-last-child(1) {
  width: 200px;
}
.footer-contacts-image {
  position: absolute;
  top: 0;
  left:  -20px;
}
.footer-contacts-bold {
  font-weight: 700;
}

.footer-author-site,
.footer-author-site * {
  /*outline:  2px solid red;
  outline-offset: -2px;*/
}

.footer-author-site {
  font-size: 12px;
  line-height: 18px;
  color:  #fff;
}

.footer-author-site-link {
  color: #fff;

  border-bottom: 1px solid  var(--basic-bg-color);
}

