:root {
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
page-body * {
  outline:  2px solid green;
  outline-offset: 2px;
}
body {
  font-family:  Roboto, Arial, sans-serif;
  font-weight: 700;
}
.page-body {
  background-color: #8996a6;
}

a {
  text-decoration: none;
}

.slider-controls  {
  position: relative;
}
.slider-controls label {
  position: relative;
  font-size: 0;
  top:  50px;
  display: inline-block;
  width: 21px;
  height: 21px;
  border: 2px solid #fff;
  border-radius: 50%;
}

#slide-1:checked ~ .slider-controls label[for="slide-1"],
#slide-2:checked ~ .slider-controls label[for="slide-2"],
#slide-3:checked ~ .slider-controls label[for="slide-3"] {
  background-color: #fff;
}


.nav-menu-list,
.nav-sub-menu {
  list-style: none;
  padding: 0;
  color:  #FFF;

}
.nav-sub-menu {
  display: none;
}
.nav-menu-item,
.main-header-logo {
  /*border-bottom:  1px solid rgba(0,0,0,0.2);*/
  display:  inline-block;


}

.nav-menu-link:hover {
  background-color: #fff;
  /*border-radius: 25px;*/
  color:  #000;

}
.nav-menu-link {
  color:  inherit;


  border-bottom:  1px solid rgba(0,0,0,0.2);
  font-family: inherit;
  font-weight:  bold;
  font-size: 18px;
  padding-top: 18px;
  padding-bottom:  10px;

}
.nav-menu-link {

}



.nav-sub-menu-link {
  color:  #fff;
}

.slider-1,
.slider-2,
.slider-3 {
  display: inline-block;
  width: 21px;
  box-sizing: border-box;
  height: 21px;
  margin-right: 8px;
  vertical-align: top;
  font-size: 0;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}
.slider-3 {
  margin-right: 0;
}
.slider-controls label:checked {
background-color: #fff;
}

.main-header {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.slider_controls label:hover,
.slider_controls label:focus {
  background-color: rgba(255, 255, 255, 0.4);
}
.slider_controls label:active {
  background-color: rgba(255, 255, 255, 1);
}

#slide-1:checked ~ .page-body #slide-1,
#slide-2:checked ~ .page-body #slide-2,
#slide-3:checked ~ .page-body #slide-3 {
  display: block;
}
.page-body {
  /*background-image: url(../img/icecream-bg-1.png);*/
}

#slide-1:checked ~ .page-body {
  background-color: #849d8f;
  background-image: url(../img/icecream-bg-1.png);
}
#slide-2:checked ~ .page-body {
  background-color: #8996a6;
  background-image: url(../img/icecream-bg-2.png);
}
#slide-3:checked ~ .page-body {
  background-color: #9d8b84;
  background-image: url(../img/icecream-bg-3.png);
  }

  /* Фон с пломбирами */
  .slider-list {
    list-style: none;
    padding: 0;
    font-size: 60px;
    color:  #fff;
  }

  .slider-item-link {
    background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0.05em;
    border-radius: 70px;
    color: #FFFFFF;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    padding:  19px 22px;
  }


  /**/

  .promotions-list {
    padding: 0;
    list-style:  none;
  }
  .promotions-item {
    box-sizing:border-box;
    width: 560px;
    /*height: 229px;*/
    border-radius: 16px;
    padding: 18px;
    font-size: 35px;
    line-height: 41px;
    color:  #fff;
  }
  .promotions-info {
    padding: 0;
    font-size: 18px;
  }
  .promotions-btn {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    padding:  15px 22px;
    border-radius: 70px;
    border:  none;
    color: #fff;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
    border-radius: 70px;
  }
  .promotions-item-first {
    background-color: red;
    background-image: url(../img/bonuses-bg-1.jpg);

  }
  .promotions-item-second {
    background-color: red;
    background-image: url(../img/bonuses-bg-2.jpg);
  }


  .catalog-list {
    padding: 0;
    list-style:  none;
  }

  .catalog-list-item {

  }
  .catalog-item-hit {
   position: relative;
   /*border:  5px solid black;*/
   width: 267px;
 }

 .catalog-item-hit::before {
  content: "";
  position: absolute;
  top:  0;
  left:  0;
  z-index: 15;
  content: "";
  width: 61px;
  height: 61px;
  background-color: #fff;
  background-image: url("../img/hit-icon.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 50%;

}

.item-price{
  position: absolute;
  bottom: 3.8%;
  z-index: 10;
  margin: 0;
  padding: 0;
  top:  216px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);

}
.item-description {

 width: 267px;
 height: 44px;


 font-family: Roboto;
 font-style: normal;
 font-weight: 500;
 font-size: 16px;
 line-height: 22px;
 /* or 137% */

 text-align: center;

 color: #FFFFFF;

}
